<app-main-container *ngIf="specie">
    <app-titulo-principal>{{specie.name}}</app-titulo-principal>
    <app-container>
      <div class="col-4 py-4">
        <app-imagen-card imagen="../../../assets/imagenes/1.jpg"></app-imagen-card>
        <ul class="lista mt-4">
          <li class="item">Titulo specie: {{specie.title}}</li>
          <li class="item">Episodio: {{specie.episode_id}}</li>
          <li class="item">Reseña: {{specie.opening_crawl}}</li>
          <li class="item">Director: {{specie.director}}</li>
          <li class="item">Productor: {{specie.producer}}</li>
          <li class="item">Fecha de Lanzamiento: {{specie.release_date}}</li>
        </ul>
      </div>
    </app-container>
  </app-main-container>
  
