<app-main-container>
  <img src="../../../assets/imagenes/imagen-inicio.png" alt="Imagen inicio" class="imagen-inicio my-2">
  <app-container>
      <div class="col-4">
        <h4 class="text-warning titulo-cards my-3" routerLink="/personajes">Personajes</h4>
        <app-imagen-card imagen="../../../assets/imagenes/1.jpg" routerLink="/personajes"></app-imagen-card>
      </div>
      <div class="col-4">
        <h4 class="text-warning titulo-cards my-3">Planetas</h4>
        <app-imagen-card imagen="../../../assets/imagenes/1.jpg" titulo="The Force Awakers"></app-imagen-card>
      </div>
      <div class="col-4">
        <h4 class="text-warning titulo-cards my-3">Vehículos</h4>
        <app-imagen-card imagen="../../../assets/imagenes/1.jpg" titulo="The Force Awakers"></app-imagen-card>
      </div>
      <div class="col-4">
        <h4 class="text-warning titulo-cards my-3">Peliculas</h4>
        <app-imagen-card imagen="../../../assets/imagenes/1.jpg" titulo="The Force Awakers"></app-imagen-card>
      </div>
      <div class="col-4">
        <h4 class="text-warning titulo-cards my-3">Especies</h4>
        <app-imagen-card imagen="../../../assets/imagenes/1.jpg" titulo="The Force Awakers"></app-imagen-card>
      </div>
      <div class="col-4">
        <h4 class="text-warning titulo-cards my-3">Naves espaciales</h4>
        <app-imagen-card imagen="../../../assets/imagenes/1.jpg" titulo="The Force Awakers"></app-imagen-card>
      </div>
    </app-container>
</app-main-container>
