<nav class="navbar custom-navbar py-0">
  <a class="navbar-brand py-0" href="#">
    <img src="../../../assets/imagenes/logo.png" alt="Logo" class="logo">
  </a>
  <ul class="navbar-nav flex-row">
    <li class="nav-item px-2">
      <a class="nav-link text-warning" routerLink="/">Inicio</a>
    </li>
    <li class="nav-item px-2">
      <a class="nav-link text-warning" routerLink="/personajes">Personajes</a>
    </li>
    <li class="nav-item px-2">
      <a class="nav-link text-warning" routerLink="/personajes">Planetas</a>
    </li>
  </ul>
</nav>
