<app-main-container>
    <app-titulo-principal>NAVES</app-titulo-principal>
    <app-container>
      <div class="col-12">
        <input type="text" [(ngModel)]="search">
        <button (click)="buscar()">Buscar</button>
      </div>
      <div class="col-4 my-3" *ngFor="let nave of naves; index as i">
        <app-imagen-card imagen="../../../assets/imagenes/1.jpg" [titulo]="nave.name" [link]="'/nave/'+ getId(nave.url)"></app-imagen-card>
      </div>
    <div class="col-12">
      <button class="boton" [disabled]="previous === null" (click)="cargarNaves(previous)">Anterior</button>
      <button class="boton" [disabled]="next === null" (click)="cargarNaves(next)">Siguiente</button>
    </div>
    
    </app-container>
  </app-main-container>
  
