<app-main-container>
    <app-titulo-principal>SPECIES</app-titulo-principal>
    <app-container>
      <div class="col-12">
        <input type="text" [(ngModel)]="search">
        <button (click)="buscar()">Buscar</button>
      </div>
      <div class="col-4 my-3" *ngFor="let specie of species; index as i">      
        <app-imagen-card imagen="../../../assets/imagenes/1.jpg" [titulo]="specie.name" [link]="'/specie/'+ getId(specie.url)"></app-imagen-card>
      </div>
    <div class="col-12">
      <button class="boton" [disabled]="previous === null" (click)="cargarSpecies(previous)">Anterior</button>
      <button class="boton" [disabled]="next === null" (click)="cargarSpecies(next)">Siguiente</button>
    </div>
    
    </app-container>
  </app-main-container>
  
