<app-main-container>
  <app-titulo-principal>PLANETAS</app-titulo-principal>
  <app-container>
    <div class="col-12">
      <input type="text" [(ngModel)]="search">
      <button (click)="buscar()">Buscar</button>
    </div>
    <div class="col-4 my-3" *ngFor="let planeta of planetas; index as i">
      <app-imagen-card imagen="../../../assets/imagenes/1.jpg" [titulo]="planeta.name" [link]="'/planeta/'+(i+1)"></app-imagen-card>
    </div>
    <div class="col-12">
      <button class="boton" [disabled]="previous === null" (click)="cargarPlanetas(previous)">Anterior</button>
      <button class="boton" [disabled]="next === null" (click)="cargarPlanetas(next)">Siguiente</button>
    </div>
  </app-container>
</app-main-container>
